[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
google-api-python-client = "*"
selenium = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "3.7"
